---
import Container from '../Container/Container.astro';
import projects from '../../json/projects.json';
import ProjectCard from '../Card/ProjectCard.astro';
---

<div class='mt-16 bg-slate-50'>
  <Container id='projects' additionalClass='pt-16'>
    <article class='mb-10 block'>
      <div class='mb-10 block'>
        <h1 class='text-4xl text-gradient font-extrabold inline'>
          Notable Projects
        </h1>
      </div>
      <div class='grid grid-cols-2 gap-4'>
        {
          projects.map((project) => (
            <div class='col-span-2 sm:col-span-1'>
              <ProjectCard
                url={project?.url}
                id={project.id}
                imageUrl={project.imageUrl}
                description={project.desc}
                title={project.title}
                skills={project.tags}
              />
            </div>
          ))
        }
      </div>
    </article>
  </Container>
</div>
