---
import { Image } from '@astrojs/image/components';

export type Props = {
  noImage?: boolean;
  imageUrl: string;
  title: string;
  description: string;
  url: string;
  minRead: string;
};

const { noImage, imageUrl, title, description, minRead, url } = Astro.props;
---

<div
  class:list={['gradient p-[1px] rounded-lg h-full', { 'h-[350px]': !noImage }]}
>
  <div class='relative overflow-hidden h-full'>
    {
      !noImage && (
        <Image
          height={348}
          aspectRatio={16 / 9}
          alt={title}
          class:list={['w-full rounded-lg object-cover']}
          src={imageUrl}
        />
      )
    }

    <div
      class:list={[
        { 'bottom-0 left-0 right-0 absolute': !noImage },
        { 'rounded-t-lg h-full': noImage },
        'bg-white rounded-b-lg p-6 flex flex-col',
      ]}
    >
      <a href={url} target='_blank' rel='noopener noreferrer'>
        <h2
          class='text-xl transition-colors font-bold mb-2 hover:text-gradient'
        >
          {title}
        </h2>
      </a>
      <p class='text-gray-800 mb-4 flex-1'>
        {description}
      </p>

      <div class='flex justify-end'>
        <span class='text-gray-600 font-bold'>{minRead} min read</span>
      </div>
    </div>
  </div>
</div>
